.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additionalList {
    margin-bottom: 10px;
}
